extends layout

block content
  h1 Jamsheer Aslam Shaik
  - let destination3 = `dispatch(\"/vehicles/create\")`
  p 
   button.btn( class="btn-success ml-1", onclick= destination3) Create

  .container-fluid
    .row
      -
    each item in results
        .col-sm-2
            h3 Phone 
            - let destination = `dispatch(\"/phone/update?id=${item._id}\")`
            - let destination1 = `dispatch(\"/vehicles/delete?id=${item._id}\")`
            - let destination2 = `dispatch(\"/vehicles/detail?id=${item._id}\")`
            p #{item.phone_name}, #{item.phone_color},#{item.phone_cost}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
            button.btn( class="btn-danger ml-1", onclick= destination1) Delete
            button.btn( class="btn-info ml-1", onclick= destination2) Detail
            

  

  script.
     function buy(index) {
      alert(`You purchased item ${index+1}`);
     }
     function dispatch(path){
      window.location.href=path
     }



  